_auth = amlnZ2xpZW1vbjptMG5rM3ltb24=
email = chase@agroism.com

[_token]
AuthSession = amlnZ2xpZW1vbjo1MUM5REJFMjo7xWYRh9e6VrLdZsAyExHl5f8ulQ
version = 1
expires = 1372219522659
path = /
httponly = true
